node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# At least for now, let's not save any Scripture request data
assets/data/scripture.api.bible/

# License files are generated and unnecessary to check in
assets/data/licenses/licenses-raw.json